.ask-form {
  background-color: #00b2ff;
  color: #ffffff;
}

.ask-form__position-wrapper {
  padding-top: 72px;
  padding-bottom: 94px;
  padding-right: 355px;
  display: flex;
  justify-content: flex-end;

  background-image: url("../img/callback-pic@1x.png");
  background-repeat: no-repeat;
  background-position: 175px -60px;
  background-size: 686px 641px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/callback-pic@2x.png");
    background-size: 686px 641px;
  }
}

.ask-form__wrapper {
  max-width: 570px;
  background-color: #00b2ff;
  border: 20px solid #00b2ff;
}

.ask-form h2 {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  display: block;
}

.ask-form p {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.ask-form form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ask-form input[type="text"],
.ask-form input[type="tel"] {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
  background-color: #19baff;
  border: none;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.ask-form label {
  width: calc(50% - 15px);
}

.ask-form textarea {
  padding-top: 12px;
  padding-left: 20px;
  margin-bottom: 42px;
  background-color: #19baff;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  width: 100%;
  resize: none;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.ask-form button[type="submit"] {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  width: calc(50% - 15px);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.ask-form span {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.ask-form .ask-form__checkbox-label {
  display: inline-block;
  padding-top: 8px;
  padding-left: 30px;
  position: relative;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  cursor: pointer;
  width: calc(50% - 53px);

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &::before {
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid #ffffff;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    left: 4px;
    top: 12px;
    width: 5px;
    height: 4px;
    border-radius: 1px;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: rotate(-45deg);
  }
}

.ask-form input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.ask-form input[type="checkbox"]:checked + .ask-form__checkbox-label::after {
  display: block;
}

.ask-form input[type="checkbox"]:focus + .ask-form__checkbox-label::before {
  outline: 3px solid goldenrod;
}

@media (max-width: $tab-width) {
  .ask-form h2 {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 45px;
  }

  .ask-form p {
    margin-bottom: 54px;
  }

  .ask-form__position-wrapper {
    padding-right: 0;
    padding-top: 80px;
    padding-bottom: 104px;
    display: block;
    background-image: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none;
    }
  }

  .ask-form__wrapper {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 2px;
    max-width: 590px;
    background-color: transparent;
    border: none;
  }

  .ask-form input[type="text"],
  .ask-form input[type="tel"] {
    padding-top: 18px;
    padding-bottom: 21px;
  }

  .ask-form textarea {
    margin-bottom: 44px;
    padding-bottom: 6px;
  }

  .ask-form button[type="submit"] {
    padding: 14px;
  }

  .ask-form .ask-form__checkbox-label {
    padding-left: 33px;
    width: calc(50% - 59px);
  }
}

@media (max-width: $mob-width) {
  .ask-form h2 {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 39px;
  }

  .ask-form p {
    margin-bottom: 26px;
  }

  .ask-form__position-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 42px;
    display: block;
  }

  .ask-form__wrapper {
    padding-left: 0;
  }

  .ask-form label {
    width: 100%;
  }

  .ask-form input[type="text"],
  .ask-form input[type="tel"] {
    padding-left: 17px;
    padding-bottom: 21px;
    margin-bottom: 28px;
    min-width: auto;
    margin-right: 0;
  }

  .ask-form textarea {
    padding-left: 17px;
    margin-bottom: 30px;
    max-height: 104px;
  }

  .ask-form button[type="submit"] {
    margin-right: 0;
    margin-bottom: 23px;
    width: 100%;
  }

  .ask-form .ask-form__checkbox-label {
    padding-left: 33px;
    width: 100%;
  }
}
