.goods-services {
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 97px;
  background-color: #1b2d37;
  color: #ffffff;
}

.goods-services__wrapper {
  padding-left: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: flex-start;
}

.goods-services h2 {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  width: 100%;
}

.goods-services__item {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-left: 44px;
  padding-bottom: 15px;
  padding-right: 170px;
  width: 370px;
  min-height: 620px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  background-color: #49575f;
  color: #ffffff;

  &:hover {
    transform: scale(1.01);
  }

  &::before {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    bottom: 0;
    right: 0;
    background-color: #00b2ff;
    color: #ffffff;
  }

  &::after {
    position: absolute;
    content: "";
    background: url("../img/arrow-goods.svg") no-repeat 50% 50%;
    width: 6px;
    height: 10px;
    bottom: 27px;
    right: 26px;
  }
}

.goods-services__item--production {
  background-image: url("../img/production@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 370px 620px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/production@2x.png");
    background-size: 370px 620px;
  }
}

.goods-services__item--montage {
  background-image: url("../img/montage@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 370px 620px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/montage@2x.png");
    background-size: 370px 620px;
  }
}

.goods-services__item--parts {
  background-image: url("../img/parts@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 370px 620px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/parts@2x.png");
    background-size: 370px 620px;
  }
}

@media (max-width: 1329px) {
  .goods-services__wrapper {
    max-width: 800px;
  }
}

@media (max-width: $tab-width) {
  .goods-services {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 79px;
  }

  .goods-services__wrapper {
    flex-direction: column;
    padding-left: 0;
    max-width: 720px;
  }

  .goods-services h2 {
    padding-right: 0;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 45px;
    max-width: 630px;
  }

  .goods-services__item {
    padding-top: 39px;
    padding-right: 510px;
    margin-right: 0;
    width: 720px;
    min-height: 256px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::after {
      bottom: 27px;
      right: 25px;
    }
  }

  .goods-services__item--production {
    background-image: url("../img/production-tab@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 720px 256px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/production-tab@2x.png");
      background-size: 720px 256px;
    }
  }

  .goods-services__item--montage {
    background-image: url("../img/montage-tab@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 720px 256px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/montage-tab@2x.png");
      background-size: 720px 256px;
    }
  }

  .goods-services__item--parts {
    padding-top: 51px;
    padding-left: 46px;
    background-image: url("../img/parts-tab@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 720px 256px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/parts-tab@2x.png");
      background-size: 720px 256px;
    }
  }
}

@media (max-width: $mob-width) {
  .goods-services {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 64px;
  }

  .goods-services__wrapper {
    max-width: 290px;
  }

  .goods-services h2 {
    padding-right: 0;
    padding-left: 10px;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 39px;
  }

  .goods-services__item {
    padding-top: 20px;
    padding-left: 35px;
    margin-bottom: 30px;
    padding-right: 100px;
    width: 290px;
    min-height: 256px;

    &::before {
      bottom: 0;
      right: 0;
    }

    &::after {
      bottom: 27px;
      right: 29px;
    }
  }

  .goods-services__item--production {
    background-image: url("../img/production-mob@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 290px 256px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/production-mob@2x.png");
      background-size: 290px 256px;
    }
  }

  .goods-services__item--montage {
    background-image: url("../img/montage-mob@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 290px 256px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/montage-mob@2x.png");
      background-size: 290px 256px;
    }
  }

  .goods-services__item--parts {
    padding-top: 30px;
    background-image: url("../img/parts-mob@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 290px 256px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/parts-mob@2x.png");
      background-size: 290px 256px;
    }
  }
}
