.modal-position {
  position: fixed;
  padding-top: 136px;
  padding-bottom: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(229, 229, 229, 0.95);
  z-index: 100;
  display: none;
  overflow: auto;
}

.modal-open {
  display: block;
}
