.page-footer {
  background-color: #fafafa;
  color: #000000;
}

.page-footer__top-wrapper {
  padding-top: 65px;
  border-bottom: 1px solid #dcdddc;
}

.page-footer__top-position-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1475px;
  margin: 0 auto;
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.page-footer__logo-social-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  margin-right: 20px;
  margin-bottom: 53px;
  display: flex;
  align-items: center;
  min-width: 202px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__logo-img {
  margin-right: 16px;
}

.page-footer__sections-office-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.page-footer__social-list li {
  font-size: 0;
  margin-right: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__sections {
  margin-right: 156px;
}

.page-footer__title--sections {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.page-footer__list--sections {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  min-width: 500px;
}

.page-footer__list--sections a {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.page-footer__list--sections li {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__title--office {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.page-footer__list--office {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
}

.page-footer__list--office li {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__list--office a {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.page-footer__bottom-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 11px;
  max-width: 1415px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__bottom-wrapper p,
.page-footer__bottom-wrapper a {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none;
}

.page-footer__bottom-wrapper a {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__bottom-wrapper p:first-of-type {
  margin: 0;
  padding: 0;
  margin-right: 75px;
}

.page-footer__bottom-wrapper p:last-of-type {
  margin: 0;
  padding: 0;
  margin-right: 141px;
}

.page-footer__nda {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.page-footer__develop {
  margin: 0;
  padding: 0;
}

@media (max-width: 1333px) {
  .page-footer__sections {
    margin-right: 0;
  }
}

@media (max-width: 1130px) {
  .page-footer__logo-social-wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
  }

  .page-footer__sections-office-wrapper {
    margin: 0 auto;
  }

  .page-footer__bottom-wrapper {
    justify-content: space-between;
  }

  .page-footer__bottom-wrapper p:first-of-type,
  .page-footer__bottom-wrapper p:last-of-type,
  .page-footer__nda,
  .page-footer__develop {
    margin-right: 0;
  }
}

@media (max-width: $tab-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__top-wrapper {
    padding-top: 20px;
  }

  .page-footer__top-position-wrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
    padding-bottom: 0;
  }

  .page-footer__logo-social-wrapper {
    padding-left: 25px;
    padding-right: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #dcdddc;
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-right: 0;
  }

  .page-footer__social-list {
    padding-top: 10px;
  }

  .page-footer__social-list li {
    &:last-of-type {
      margin-right: 0;
    }
  }

  .page-footer__sections-office-wrapper {
    padding-top: 14px;
    padding-left: 25px;
    padding-right: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .page-footer__sections {
    margin-bottom: 0;
    margin-right: 0;
  }

  .page-footer__list--sections {
    flex-direction: column;
    height: auto;
    min-width: auto;
  }

  .page-footer__bottom-wrapper {
    padding-top: 21px;
    padding-left: 27px;
    padding-right: 26px;
    padding-bottom: 24px;
  }

  .page-footer__bottom-wrapper p {
    margin-right: 0;
  }

  .page-footer__bottom-wrapper p:first-of-type {
    display: none;
  }

  .page-footer__bottom-wrapper p:last-of-type {
    position: absolute;
    top: 36px;
    left: 42.6%;
  }
}

@media (max-width: $mob-width) {
  .page-footer {
    padding-bottom: 0;
  }

  .page-footer__logo-social-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 26px;
    padding-bottom: 43px;
    margin-bottom: 0;
    flex-direction: column;
  }

  .page-footer__logo {
    margin: 0 auto;
    margin-bottom: 81px;
  }

  .page-footer__logo img {
    margin-right: 0;
  }

  .page-footer__social-list {
    padding-top: 0;
    margin: 0 auto;
  }

  .page-footer__bottom-wrapper p:last-of-type {
    top: 123px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }

  .page-footer__list li:last-child {
    margin-bottom: 24px;
  }

  .page-footer__sections-office-wrapper {
    padding: 0;
    margin: 0;
  }

  .page-footer__sections {
    padding-top: 29px;
    padding-left: 15px;
    padding-bottom: 2px;
    padding-right: 20px;
    width: 100%;
    border-bottom: 1px solid #dcdddc;
  }

  .page-footer__title--sections {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 285px;
  }

  .page-footer__list--sections {
    max-width: 285px;
    margin: 0 auto;
    display: none;
  }

  .page-footer__office {
    padding-top: 28px;
    padding-left: 15px;
    padding-bottom: 2px;
    padding-right: 20px;
    width: 100%;
  }

  .page-footer__title--office {
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 285px;
    tab-index: 0;
  }

  .page-footer__list--office {
    margin: 0 auto;
    max-height: none;
    max-width: 285px;
    display: none;
  }

  .page-footer__list--active {
    display: block;
  }

  .page-footer__title {
    position: relative;
    outline: none;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -3px;
      width: 16px;
      height: 16px;
      background: url("../img/plus.svg") no-repeat 50% 50%;
    }
  }

  .page-footer__title--active::after {
    background: url("../img/minus.svg") no-repeat 50% 50%;
  }

  .page-footer__bottom-wrapper {
    max-width: 285px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 26px;
    justify-content: center;
  }

  .page-footer__nda {
    margin-right: 0;
    margin-bottom: 21px;
  }
}
