@font-face {
  font-weight: normal;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"), url("../fonts/PTMono-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #000000;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.fix-body {
  position: fixed;
  width: 100%;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
